body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url('../img/background-main.jpg') !important;
}

.btn-nav {
    padding: 3px 10px 4px 10px !important;
    margin: 7px 10px 6px 0px !important;
}

.hero-unit {
    background-image: url('../img/hero-bg.jpg') !important;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

.bottom-clear {
    padding-bottom: 5px !important;
}

.centered-text {
    text-align: center !important;
}

.brand-img {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}